@import "tailwindcss";

.primary {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}

body {
  background-color: black;
}

.bg-primary {
  @apply bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}
html {
  scroll-behavior: smooth;
}
